@import "tailwindcss";
 @plugin "daisyui" {
  themes: all;
}
html {
  scroll-behavior: smooth;
}

.bg-grid {
  height: 100%;
  position: relative;
 
}


@theme {
  --color-base-100: #ffffff;
  --color-base-content: #000000;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-base-100: #1f2937;
    --color-base-content: #ffffff;
  }
}